.tableWrap, .tableHead, .tableBody, .row {
    display: grid;
    gap: 1.5rem;
    text-align: center;
}

.tableWrap {
    grid-template-rows: 10% 1fr;
    gap: 0;
}

.tableHead {
    background: hsl(216deg 100% 32%);
    color: white;
    border-radius: 1rem;
    padding: 0 1rem;
}

.tableHead span {
    align-self: center;
}

.tableBody {
    gap: 0;
    overflow-y: scroll;
    height: 40vh;
}

.row span {
    font-size: 1.5rem;
}

